html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #222;
  font-family: monospace;
  line-height: 1.5;
  margin: 0;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  display: block;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;

}

button:hover {
  background-color: darkblue;
  transition: background-color 0.75s;
}
