html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #222;
  font-family: monospace;
  line-height: 1.5;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-clip: padding-box;
  color: #495057;
  /* display: block; */
  font-size: 1em;
  line-height: 1.5;
  padding: .375rem .75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  outline: 0;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  display: block;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;

}

button:hover {
  background-color: #00008b;
  transition: background-color 0.75s;
}
